<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />    
    <meta name="description" content="" />
    <!-- PAGE TITLE HERE -->
    <title>Accueil</title>
    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="page-wraper">     
        <!-- HEADER START -->
        <app-header></app-header>
        <!-- HEADER END -->

        <!-- CONTENT START -->
        <div class="page-content">

            <!--Banner Start-->
            <div class="twm-home1-banner-section site-bg-gray bg-cover" style="background-image:url(assets/images/main-slider/slider1/bg1.jpg)">
                <div class="row">   
                    <!--Left Section-->
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="twm-bnr-left-section">
                            <h2>Trouvez <span class="site-text-primary">les objets perdus</span> et aidez les autres à récupérer leurs objets disparus.</h2>
                        </div>
                    </div>

                    <!--right Section-->
                    <div class="col-xl-6 col-lg-6 col-md-12 twm-bnr-right-section">
                        <div class="twm-bnr-right-content">
                            <div class="twm-img-bg-circle-area">
                                <div class="twm-img-bg-circle1 rotate-center"><span></span></div>
                                <div class="twm-img-bg-circle2 rotate-center-reverse"><span></span></div>
                                <div class="twm-img-bg-circle3"><span></span></div>
                            </div>
                            <div class="twm-bnr-right-carousel">
                                <div class="owl-carousel twm-h1-bnr-carousal">
                                    <div class="item">
                                      <div class="slide-img">
                                        <img src="assets/images/main-slider/slider1/slider1.png" alt="#" style="position: relative; top: -42px; right: -90px;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <!--Samll Ring Left-->
                            <div class="twm-small-ring-l slide-top-animation"></div>
                            <div class="twm-small-ring-2 slide-top-animation"></div>
                        </div>
                    </div>
                </div>
                <div class="twm-gradient-text">
                    RetrouveMoi 
                </div>
            </div>
            <!--Banner End-->
        </div>
        <!-- CONTENT END -->

        <!-- FOOTER START -->
        <app-footer></app-footer>
        <!-- FOOTER END -->
 	</div>
</body>
</html>
