<footer class="footer-dark" style="background-image: url(images/f-bg.jpg); padding: 5px 0;">
    <div class="container">
        <!-- FOOTER COPYRIGHT -->
        <div class="footer-bottom">
            <div class="footer-bottom-info">
                <div class="footer-copy-right">
                    <span class="copyrights-text">Copyright © 2024 developed by Charfi Mustapha.</span>
                </div>
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/profile.php?id=61566810723428" class="fab fa-facebook-f" target="_blank"></a></li>
                    <li><a href="https://www.instagram.com/retrouvemoii/" class="fab fa-instagram" target="_blank"></a></li>
                    <li><a href="https://www.tiktok.com/@retrouvemoii?lang=eng" class="fab fa-tiktok" target="_blank"></a></li>
                    <li><a href="https://www.youtube.com/@RetrouveMoi0" class="fab fa-youtube" target="_blank"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>