<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />    
    <meta name="description" content="" />
    <!-- PAGE TITLE HERE -->
    <title>JQui somme nous</title>
    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">    
</head>
<body>
	<div class="page-wraper">
        <!-- HEADER START -->
        <app-header></app-header>
        <!-- HEADER END -->
        <!-- CONTENT START -->
        <div class="page-content">
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(assets/images/banner/1.jpg);">
            	<div class="overlay-main site-bg-white opacity-01"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="wt-title">Qui somme nous</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/">Accueil</a></li>
                                    <li>Qui somme nous</li>
                                </ul>
                            </div>
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->         
            <!-- EXPLORE NEW LIFE START -->
            <div class="section-full p-t120 p-b120 twm-explore-area bg-cover " style="background-image: url(assets/assets/images/background/bg-1.jpg);">
                <div class="container">
                    <div class="section-content">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="twm-explore-media-wrap">
                                    <div class="twm-media">
                                        <img src="assets/assets/images/gir-large.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <div class="twm-explore-content-outer">
                                    <div class="twm-explore-content">
                                        <div class="twm-l-line-1"></div>
                                        <div class="twm-l-line-2"></div>
                                        <div class="twm-r-circle-1"></div>
                                        <div class="twm-r-circle-2"></div>
                                        <div class="twm-title-small">A propos de nous:</div>
                                        <div class="twm-title-large">
                                            <p>Nous sommes une plateforme innovante de recherche et de récupération d'objets perdus. Notre mission est de faciliter la rencontre de ceux qui ont perdu des objets avec ceux qui les ont retrouvés. Nous proposons un espace ou la solidarité et l'entraide prédomine.</p>
                                        </div>
                                        <div class="twm-title-small">Notre vision :</div>
                                        <div class="twm-title-large">
                                            <p>Notre vision est que chaque objet perdu a le droit d'être retrouvé et tout geste, peu importe sa taille, est précieux. En facilitant les rencontres entre les membres de notre communauté, nous créons un environnement de confiance, d'empathie et d'entraide. Que vous ayez perdu un objet de haute valeur ou une chose ordinaire, nous facilitons votre recherche et nous vous garantissons une réponse rapide.</p>
                                        </div>
                                        <div class="twm-title-small">Nos services:</div>
                                        <div class="twm-title-large">
                                            <p><strong>Publication d'annonces:</strong> les abonnés peuvent facilement signaler un objet perdu en publiant une annonce en votre nom. Vous devrez ajouter des détails essentiels, notamment la date et le lieu de perte et une description détaillée de l'objet.</p>
                                            <p><strong>Consultation d'annonces:</strong> si vous avez retrouvé un objet, vous pouvez parcourir les annonces et commenter et apparaître directement sous elles.</p>
                                            <p><strong>Sécurité et confidentialité:</strong> Nous veillons à la confidentialité de vos données et garantissons une sécurité dans tous vos échanges. Notre équipe vérifie toutes les annonces pour minimiser les affichages abusifs.</p>
                                        </div>
                                        <div class="twm-title-small">Pourquoi nous choisir?</div>
                                        <div class="twm-title-large">
                                            <p>Facile à utiliser: notre plateforme dispose d'une interface utilisateur intuitive pour permettre à tout le monde de publier facilement la recherche d'un objet. Service client efficace: en cas de problème, notre service client est disponible 24h / 24 pour répondre à vos questions.</p>
                                            <p>Rejoignez-nous dès aujourd'hui pour augmenter la chance de retrouver votre bien.</p>
                                        </div>
                                    </div>
                                    <div class="twm-bold-circle-right"></div>
                                    <div class="twm-bold-circle-left"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- EXPLORE NEW LIFE END -->
        </div>
        <!-- CONTENT END -->
        <!-- FOOTER START -->
        <app-footer></app-footer>
        <!-- FOOTER END -->
 	</div>
</body>
</html>
